<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ywx0zsk.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<style>.dropdown {
    
    display: none; /* Initially hide the dropdown button */
    text-align: center;
   
}

.dropdown-content {
    display: none; /* Initially hide the dropdown items */
    position: absolute;
    background-color: #333;
    width: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-content a {
    padding: 5px 10px;
    display: block;
    text-align: left;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .dropdown {
        margin-top: 5px;
        margin-right: 5px;
        display: block; /* Show the dropdown button */
    }

    .dropdown:hover .dropdown-content {
        display: block; /* Show the dropdown items on hover */
    }
}</style>

<body class="bg-[url('{{site.[url}}/image/background.jpg')] bg-cover bg-fixed bg-center h-screen">
    
    <div id="dropdown-menu-container"></div>
    <script>
        

        // Call the function to load the dropdown menu when the page loads
        includeDropdownMenu();
        const dropbtn = document.querySelector('.dropbtn');
    const dropdownContent = document.querySelector('.dropdown-content');

    dropbtn.addEventListener('click', function() {
        dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
    });
    </script>

<div class="dropdown">
    <a href="javascript:void(0)" class="dropbtn" style="position:fixed;top:5px;right:10px;">☰</a>
    <div class="dropdown-content">
        <a href="#"
        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Timeline</a>
    <a href="#objss"
        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Objectives</a>
    <a href="#"
        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Team</a>
    <a href="#"
        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Gallery</a>
    <a href="#"
        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Data</a>

    </div>
</div>
    
    <div class="h-[20vh]">h</div>
    <div class="h-[80vh]  text-white justify-center items-center">
        <div class="grid grid-cols-[60vw_30vw] px-4 h-full justify-center items-center">
            <div class="flex flex-col p-6 pt-0">
                <img src="{{site.url}}/image/gracehead.png" alt="">
                <div class="flex flex-col justify-center w-full p-8 px-8 gap-3">
                    <a href="#"
                        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Timeline</a>
                    <a href="#objss"
                        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Objectives</a>
                    <a href="#"
                        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Team</a>
                    <a href="#"
                        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Gallery</a>
                    <a href="#"
                        class="text-4xl pb-3 pl-4 transition-all font-bold hover:text-6xl hover:text-black bg-gradient-to-r from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-700 ease-in-out hover:bg-[length:100%_100%]">Data</a>

                </div>
            </div>
            <div class="w-full pt-16 h-full">
                <img src="{{site.url}}/image/grace.png" alt="" class="pt-5 mt-auto">
                
            </div>
        </div>
    </div>
    <div class="flex h-[70vh] items-center justify-center">
        <img src="{{site.url}}/image/about.png" alt="" class="mx-auto w-[85%]">
    </div>
    <div class="h-[10vh]" id="objss"></div>
    <div class="h-[85vh] px-[9%]">
        <div class="flex flex-col h-full">
            <div class="flex w-full h-1/2 mb-2">
                <div class="w-1/2 bg-red-500 mr-1 relative group">
                    <div class="relative overflow-hidden w-full h-full">
                        <div style="font-family: 'montserrat', sans-serif;font-weight: 900;" src="{{site.url}}/image/obj_cover1.jpg" alt="Image 1"
                            class="absolute inset-0 w-full h-full object-cover bg-[#ffc000] flex flex-col items-center justify-center">
                            <h1 class="text-5xl">OBJECTIVE 1</h1>
                            <h1 class="text-2xl">{{page.obj1}}</h1>
                        </div>
                        <img src="{{site.url}}/image/obj1.jpg" alt="Image 2"
                            class="absolute inset-0 w-full h-full object-cover transition-all duration-500 ease-in-out transform translate-y-full group-hover:translate-y-0" />
                    </div>
                </div>
                <div class="w-1/2 bg-red-500 ml-1 relative group">
                    <div class="relative overflow-hidden w-full h-full">
                        <div style="font-family: 'montserrat', sans-serif;font-weight: 900;" src="{{site.url}}/image/obj_cover1.jpg" alt="Image 1"
                            class="absolute inset-0 w-full h-full object-cover bg-[#ffc000] flex flex-col items-center justify-center">
                            <h1 class="text-5xl">OBJECTIVE 2</h1>
                            <h1 class="text-2xl">{{page.obj2}}</h1>
                        </div>
                        <img src="{{site.url}}/image/obj2.jpg" alt="Image 2"
                            class="absolute inset-0 w-full h-full object-cover transition-all duration-500 ease-in-out transform translate-y-full group-hover:translate-y-0" />
                    </div>
                </div>
            </div>
            <div class="flex w-full h-1/2">
                <div class="w-1/2 bg-red-500 mr-1 relative group">
                    <div class="relative overflow-hidden w-full h-full">
                        <div style="font-family: 'montserrat', sans-serif;font-weight: 900;" src="{{site.url}}/image/obj_cover1.jpg" alt="Image 1"
                            class="absolute inset-0 w-full h-full object-cover bg-[#ffc000] flex flex-col items-center justify-center">
                            <h1 class="text-5xl">OBJECTIVE 3</h1>
                            <h1 class="text-2xl">{{page.obj3}}</h1>
                        </div>
                        <img src="{{site.url}}/image/obj3.jpg" alt="Image 2"
                            class="absolute inset-0 w-full h-full object-cover transition-all duration-500 ease-in-out transform translate-y-full group-hover:translate-y-0" />
                    </div>
                </div>
                <div class="w-1/2 bg-red-500 ml-1 relative group">
                    <div class="relative overflow-hidden w-full h-full">
                        <div style="font-family: 'montserrat', sans-serif;font-weight: 900;" src="{{site.url}}/image/obj_cover1.jpg" alt="Image 1"
                            class="absolute inset-0 w-full h-full object-cover bg-[#ffc000] flex flex-col items-center justify-center">
                            <h1 class="text-5xl">OBJECTIVE 4</h1>
                            <h1 class="text-2xl">{{page.obj4}}</h1>
                        </div>
                        <img src="{{site.url}}/image/obj4.jpg" alt="Image 2"
                            class="absolute inset-0 w-full h-full object-cover transition-all duration-500 ease-in-out transform translate-y-full group-hover:translate-y-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justity-center items-center w-full">
    <div class="h-[90vh] text-white w-2/3 mx-auto">
        <div class="flex gap-5 items-center justify-center mx-auto text-4xl p-4">
            <a href="" class="border">Student </a>
            <a href="" class="border">teacher </a>
            <a href="" class="border">Student </a>
            <a href="" class="border">teacher </a>
        </div>
        <div class="overflow-y-scroll h-[80vh] border rounded-xl mx-auto">
            <h1 class="text-9xl ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur pariatur, mollitia porro inventore deserunt beatae dolor odit laudantium optio ab. Aliquam, quibusdam consectetur! Obcaecati accusantium quibusdam facere perspiciatis, repudiandae pariatur.</h1>
        </div>
    </div></div>
    <br><br><br><br>
    {% include footer.html %}

    {% include timeline.html %}
</body>

</html>