<footer>
    <div
        class="bg-black grid grid-cols-3 w-[100%] justify-between p-6 py-0 items-center text-center h-64 items-center border-t-2">
        <div class="flex flex-col items-center px-12">
            <h1 style="font-family: 'Source Sans 3';" class="text-gray-500 text-xl mr-auto" href="#">
                Get in touch
            </h1>
            <a style="font-family: 'Source Sans 3'; font-style: italic;" href="#"
                class="text-white text-3xl mr-auto font-bold text-yellow-500">sspace@iist.ac.in</a>
            <a style="font-family: 'Source Sans 3'; font-style: italic;" href="#"
                class="text-white text-3xl mr-auto font-bold text-yellow-500">sspaceiist@gmail.com</a>
        </div>

        <div class="text-white font-sans text-md h-full">
            <div style="font-family: 'Source Sans 3'; font-weight: 600;"
                class="flex flex-row gap-6 text-center justify-center h-full border border-b-0 border-t-0 py-0 px-12">
                <a href="#" class="hover:border-yellow-500">aaa</a>
                <a href="#" class="hover:border-yellow-500">MISSIONS</a>

            </div>
        </div>

        <div class="text-white  mr-0 flex flex-col items-center justify-center">
            <img src="https://th.bing.com/th?id=OSK.c5a6fc3c3538a23ea1dec6f59d199690&w=102&h=102&c=7&o=6&dpr=2&pid=SANGAM"
                alt="" class="h-20 rounded-full">

            <h1 style="font-family: 'Source Sans 3'; font-weight: 900;" class="text-white text-sm p-1 pt-4" href="#">
                INDIAN INSTITUTE OF SPACE SCIENCE AND TECHNOLOGY
            </h1>
            <h1 style="font-family: 'Source Sans 3';" class="text-white text-sm p-1" href="#">
                THIRUVANANTHAPURAM - 695547
            </h1>
            <h1 style="font-family: 'Source Sans 3';" class="text-white text-sm p-1" href="#">
                DEPARTMENT OF SPACE
            </h1>
            <h1 style="font-family: 'Source Sans 3';" class="text-white text-sm p-1" href="#">
                GOVERNMENT OF INDIA
            </h1>
        </div>
    </div>
</footer>