

<header>
    <div class="bg-black grid grid-cols-3 w-[100vw] justify-between p-6 items-center text-center fixed h-[10vh] z-10">
        <div class="flex gap-5 items-center">
            <img src="https://th.bing.com/th/id/OIP.J7gg4AUZCalepn1qC3rG7gAAAA?w=150&h=150&c=7&r=0&o=5&dpr=2&pid=1.7" alt="" class="h-12 rounded-full">
            <a style="font-family: 'Source Sans 3'; font-weight:900;" class="text-white text-4xl" href="#">
                SSPACE
            </a>
        </div>

        <div class="text-white font-sans text-md">
            <div style="font-family: 'Source Sans 3'; font-weight: 600;" class="flex flex-row gap-12 text-center justify-center">
                <a href="{{site.url}}/" class="hover:border-b-2 hover:border-yellow-500 ">HOME</a>
                <a href="{{site.url}}/grace" class="hover:border-b-2 hover:border-yellow-500 ">MISSIONS</a>
                <a href="{{site.url}}/learn" class="hover:border-b-2 hover:border-yellow-500 ">LEARN</a>
                <a href="{{site.url}}/about" class="hover:border-b-2 hover:border-yellow-500 ">ABOUT US</a>
            </div>
        </div>

        <div class="text-white w-full pr-16 mr-0 flex ">
            <a class="border ml-auto border-[#ffc000] w-40 hover:text-black hover:font-bold bg-gradient-to-b from-yellow-500 to-yellow-500 bg-[length:0%_100%] bg-no-repeat transition-all duration-300 ease-in-out hover:bg-[length:100%_100%]" href="#">
                    CONTACT US
            </a>
        </div>
    </div>
</header>