<div class="flex bg-black text-white p-6">
    <div class="mt-16 w-full">
        <p style="font-family: 'playfair-display';" class=" text-3xl text-center pb-6 text-yellow-500">" Space provides us with unprecedented opportunity to outgrow differences and excel "</p>
        <p style="font-family: 'playfair-display';" class=" text-2xl text-center font-bold ">- Dr. S. Somnath </p>
        <p style="font-family: 'playfair-display';" class=" text-lg  text-center pb-[40vh] ">10<sup>th</sup> Chairman of ISRO</p>
        <a class="flex flex-row items-center justify-center gap-5 group p-6 w-[100%]" href="#">
            <h1 style="font-family: 'bitcount-prop-single-circle'" class="text-6xl text-yellow-500 group-hover:text-7xl transition-all duration-300">Recent Payload Highlights  </h1>
            <img src="{{site.url}}/image/arrow.png" alt="imageee" class="h-16 group-hover:h-20 transition-all duration-300">
        </a>
    </div>
</div>