<div class="flex text-white p-6">
    <div class="mt-16 w-full">
        <p style="font-family: 'playfair-display';" class=" text-3xl text-center pb-6 text-yellow-500">" Space provides
            us with unprecedented opportunity to outgrow differences and excel "</p>
        <p style="font-family: 'playfair-display';" class=" text-2xl text-center font-bold ">- Dr. S. Somnath </p>
        <p style="font-family: 'playfair-display';" class=" text-lg  text-center pb-[40vh] ">10<sup>th</sup> Chairman of
            ISRO</p>
        <a class="flex flex-row items-center justify-center gap-5 group w-[100%]  bg-[url('https://www.pngkit.com/png/full/103-1036952_yellow-shadow-transparent.png')] bg-cover bg-no-repeat bg-center p-12 "
            href="{{site.url}}/grace">
            <h1 style="font-family: 'bitcount-prop-single-circle'"
                class="text-5xl text-black group-hover:text-7xl transition-all duration-300">Recent Payload
                Highlights </h1>
            <img src="{{site.url}}/image/arrow.png" alt="imageee"
                class="h-12 group-hover:h-20 transition-all duration-300  grayscale brightness-0">
        </a>
        <div style="font-family: 'bitcount-prop-single-circle'" class="flex flex-col p-40 pt-60 group">
            <div class="mx-auto">
                <h1
                    class="text-black text-center text-sm hidd transition-all duration-500">
                    999</h1>
                <h1 class="text-4xl">Days in Space</h1>
            </div>
            <div class="flex flex-row justify-between pt-36">
                <div>
                    <h1 class="text-black text-center text-sm  hidd transition-all duration-300">
                        2</h1>
                    <h1 class="text-4xl">Active Missions</h1>
                </div>
                <div>
                    <h1 class="text-black text-center text-sm  hidd transition-all duration-300">
                        5</h1>
                    <h1 class="text-4xl">Successful Missions</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let timeout;

    function onScroll() {
        if (timeout) {
            cancelAnimationFrame(timeout);
        }

        timeout = requestAnimationFrame(() => {
            const elements = document.querySelectorAll('.hidd');
            elements.forEach((el) => {
                const rect = el.getBoundingClientRect();
                if (rect.top >= 0 && rect.top <= window.innerHeight * 0.75) {
                    el.classList.add('text-yellow-500', 'text-7xl');
                } else {
                    el.classList.remove('text-yellow-500', 'text-7xl');
                }
            });

            
        });
        
    }

    window.addEventListener('scroll', onScroll);

</script>