<section id="teammm">
    <div class="flex justity-center items-center w-full flex-col py-16 mt-64">
        <script>
            function showAlumini(){
                document.getElementById('alumini').style.display='block';
                document.getElementById('students').style.display='none';
                document.getElementById('projectFellow').style.display='none';
                document.getElementById('faculty').style.display='none';
                document.getElementById('reviewNmentor').style.display='none';
            }
            function showStudents(){
                document.getElementById('alumini').style.display='none';
                document.getElementById('students').style.display='block';
                document.getElementById('projectFellow').style.display='none';
                document.getElementById('faculty').style.display='none';
                document.getElementById('reviewNmentor').style.display='none';
            }
            function showProjectFellow(){
                document.getElementById('alumini').style.display='none';
                document.getElementById('students').style.display='none';
                document.getElementById('projectFellow').style.display='block';
                document.getElementById('faculty').style.display='none';
                document.getElementById('reviewNmentor').style.display='none';
            }
            function showFaculty(){
                document.getElementById('alumini').style.display='none';
                document.getElementById('students').style.display='none';
                document.getElementById('projectFellow').style.display='none';
                document.getElementById('faculty').style.display='block';
                document.getElementById('reviewNmentor').style.display='none';
            }function showRM(){
                document.getElementById('alumini').style.display='none';
                document.getElementById('students').style.display='none';
                document.getElementById('projectFellow').style.display='none';
                document.getElementById('faculty').style.display='none';
                document.getElementById('reviewNmentor').style.display='block';
            }
        </script>
        <div class="flex gap-2 lg:gap-10 text-white items-center justify-center mx-auto text-sm lg:text-3xl lg:font-bold p-4 w-[83%]">
            <button href="" onclick="showAlumini()" class="border p-1 rounded-lg ">ALUMINI </button>
            <button href="" onclick="showStudents()" class="border p-1 rounded-lg ">STUDENT </button>
            <button href="" onclick="showProjectFellow()" class="border p-1 rounded-lg ">PROJECT FELLOW </button>
            <button href="" onclick="showFaculty()" class="border p-1 rounded-lg ">FACULTY </button>
            <button href="" onclick="showRM()" class="border p-1 rounded-lg ">REVIEW & MENTORS </button>
        </div>
        <div style="font-family: 'Source Sans 3';" class="h-[90vh] text-white w-2/3 mx-auto text-6xl">
            <div class="" id="alumini" style="display: none;">
                <div class="students-container overflow-y-scroll h-[60vh] border rounded-xl mx-auto">
                    {% for student in site.students %}
                    {% if student.who == 'alumini'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="" id="students" style="display: block;">
                <div class="students-container overflow-y-scroll h-[60vh] border rounded-xl mx-auto">
                    {% for student in site.students %}
                    {% if student.who == 'student'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="" id="projectFellow" style="display: none;">
                <div class="students-container overflow-y-scroll h-[60vh] border rounded-xl mx-auto">
                    {% for student in site.students %}
                    {% if student.who == 'pf'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="" id="faculty" style="display: none;">
                <div class="students-container overflow-y-scroll h-[60vh] border rounded-xl mx-auto">
                    {% for student in site.students %}
                    {% if student.who == 'faculty'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                    <h1 class="text-4xl p-5">Supporting Faculty : </h1>
                    {% for student in site.students %}
                    {% if student.who == 'sfaculty'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="" id="reviewNmentor" style="display: none;">
                <div class="students-container overflow-y-scroll h-[60vh] border rounded-xl mx-auto">
                    {% for student in site.students %}
                    {% if student.who == 'rnm'%}
                    <div class="student flex p-5 items-center h-[20vh]">
                        <div class="m-5 h-[50px] w-[50px] lg:h-[100px] lg:w-[100px] flex items-center justify-center bg-[url({{student.picurl}})] bg-cover bg-center rounded-full">
                        </div>
                        <div class="flex flex-col">
                            <p class="student-name text-lg lg:text-6xl text-[#fcc000] uppercase font-bold" style="font-weight: 700; font-style: italic;">{{ student.name }}</p>
                            <p class="student-role text-sm lg:text-xl" style="font-style: italic;">{{ student.role }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <h2>Students</h2>

</section>